/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

:root {
  --main-color: rgb(200, 200, 200);
  --secondary-color: rgb(150, 150, 150);
  --terciary-color: rgb(20, 20, 30);
  --off-white: rgb(184, 251, 211);
  --accent-color: rgb(124, 255, 161);
}

body {
  margin: 0;
  margin-top: 60px;
  background-color: var(--terciary-color);
  color: var(--off-white);
}

.app {
  font-family: 'Cormorant Garamond', sans-serif;
}

.body {
  display: flex;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.footer {
  margin-top: 60px;
  margin-bottom: 60px;
  color: var(--secondary-color);
  font-size: 80%;
  text-align: center;
}

.home {
  padding: 5px 20% 5px 20%;
}

.navbar {
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  background-color: var(--terciary-color);
  color: var(--main-color);
  align-items: left;
  justify-content: left;
  padding: 10px;
  margin: 0;
}

/* WORK ON THIS VVV (get links on right side of navbar) */
.navbarLinks {
  /* text-align: right; */
  justify-content: left;
}

.navbarTitle {
  padding: 0 5px 0 0;
  color: var(--off-white);
  /* font-weight: bolder; */
}

.navbarTitle:hover {
  color: var(--main-color);
  cursor: default;
}

.navbarLink {
  padding: 0 10px 0 10px;
  text-decoration: none;
  border-color: var(--main-color);
  border-width: 0 1px 0 1px;
  border-style: solid;
  color: var(--main-color);
}

.navbarLinkLeft {
  border-left: none;
}

.navbarLinkRight {
  border-right: none;
}

.navbarLink:visited {
  color: var(--main-color);
}

.navbarLink:hover {
  color: var(--off-white);
}

.articlePage {
  margin-left: 10%;
  margin-right: 10%;
}

.article {
  color: var(--main-color);
}

.article.headline {
  color: var(--secondary-color);
}

.article.headline:hover {
  color: var(--main-color);
}

.article h3 {
  font-size: 36px;
  font-weight: lighter;
  margin-bottom: 0px;
}

.lowContrastHeader {
  color: var(--secondary-color);
  font-weight: lighter;
}

.lowContrastHeader:hover {
  color: var(--main-color);
}

.createPostBody {
  text-align: center;
  color: var(--main-color);
}

.standardInput {
  width: 100%;
  background-color: var(--terciary-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
} 

.createPostTextField {
  width: 100%;
  height: 200px;
  background-color: var(--terciary-color);
  color: var(--main-color);
}

.card {

  border: 1px solid var(--main-color);
  border-radius: 3px;
  padding: 20px;
  color: var(--main-color)

}

.userFormLabel {
  font-size: small;
}

.blockInput {
  display: block;
  margin-top: 5px;
}

.standardButton {
  background-color: var(--terciary-color);
  color: var(--main-color);
  padding: 5px;
  border-radius: 5px;
}

.standardButton:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.standardButton:active {
  background-color: var(--accent-color);
  color: var(--terciary-color)
}

.loadingText {
  color: var(--main-color)
}

::placeholder {
  color: var(--secondary-color);
}

/* width */
::-webkit-scrollbar {
  width: 10px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--terciary-color); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color); 
}