
.app {
  
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  padding: 5px 20% 5px 20%;
}

.navBar {
  display: flex;
  align-items: left;
  justify-content: left;
}